/* Paleta de Colores para la App y Fuente */
:root{
    --color-base : #222831;
    --color-gris : #5e5f61b9;
    --color-azul : #00adb5;
    --color-blanco : #eeeeee;

    --font-title : 'Wendy One', sans-serif;
    --font : 'PT Sans Caption', sans-serif;
}

/* Estilos para el header */

.div-header{
    font-family: var(--font-title);
    background-color: var(--color-base);
    color: var(--color-blanco);
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.img{
    width: 80px;
    height: 80px;
    border-radius: 3px;
}

.title{
    font-size: 35px;
    padding: 0 1rem;
}



